<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="Sound_Space_Editor.Properties.EditorSettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2"/>
    </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="OpenTK" publicKeyToken="bad199fe84eb3df4" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-3.0.1.0" newVersion="3.0.1.0"/>
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <userSettings>
    <Sound_Space_Editor.Properties.EditorSettings>
      <setting name="Color1" serializeAs="String">
        <value>0, 255, 200</value>
      </setting>
      <setting name="Color2" serializeAs="String">
        <value>255, 0, 250</value>
      </setting>
      <setting name="EditorBackgroundOpacity" serializeAs="String">
        <value>255</value>
      </setting>
      <setting name="TrackOpacity" serializeAs="String">
        <value>255</value>
      </setting>
      <setting name="GridOpacity" serializeAs="String">
        <value>255</value>
      </setting>
      <setting name="NoteColor1" serializeAs="String">
        <value>255, 0, 250</value>
      </setting>
      <setting name="NoteColor2" serializeAs="String">
        <value>0, 255, 200</value>
      </setting>
      <setting name="ShowWaveform" serializeAs="String">
        <value>True</value>
      </setting>
    </Sound_Space_Editor.Properties.EditorSettings>
  </userSettings>
</configuration>
