<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="Sound_Space_Editor.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2"/>
    </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="OpenTK" publicKeyToken="bad199fe84eb3df4" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-3.0.1.0" newVersion="3.0.1.0"/>
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <userSettings>
    <Sound_Space_Editor.Properties.Settings>
      <setting name="MasterVolume" serializeAs="String">
        <value>0.05</value>
      </setting>
      <setting name="SFXVolume" serializeAs="String">
        <value>0.1</value>
      </setting>
      <setting name="GridNumbers" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="ApproachSquares" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="AnimateBackground" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="Autoplay" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="BGDim" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="LastFile" serializeAs="String">
        <value />
      </setting>
      <setting name="Quantum" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="AutoAdvance" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="SfxOffset" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="Numpad" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="QuantumGridLines" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="QuantumGridSnap" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="Metronome" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="LegacyBPM" serializeAs="String">
        <value>False</value>
      </setting>
    </Sound_Space_Editor.Properties.Settings>
  </userSettings>
</configuration>
